@import "./bootstrap";
@import "./variables";

html {
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
  line-height: normal;
  font-size: 14px;
  color: #333;
  background-color: $body-bg;
}

html,
body,
.app-wrapper {
  height:100%;
}

*,
:after,
:before {
  transition: color .25s;
}
